
body {
    font-family: 'Poppins', sans-serif;
    background-color: #d0f4fc;
    color: #0780c5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #06a2d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 18px;
    font-size: 25px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    cursor: pointer;
}

a:hover {
    color: #06348f;
   
}
a{
    color: white;
    text-decoration: none;
}

.head {
    text-align: center;
    font-size: 43px;
    margin: 20px 0;
    color: #0562e3;
}

.add_password, .saved_passwords,.suggest {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(185, 182, 182);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;    
}
.saved_passwords{
    overflow-x: auto;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0562e3;
}

input[type="text"], input[type="password"],input[type="email"],textarea{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus {
    border: 2px solid #06a2d6;
    outline: none;
}

.save, .savebtn,.btn-primary {
    padding: 12px 20px;
    background-color: #06a2d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    overflow-y: auto;
}

.save:hover, .savebtn:hover,.btn-primary:hover{
    background-color: #0562e3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 10px;
}

th, td {
    border: 1px solid #0780c5;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #06a2d6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer {
    text-align: center;
    font-size: 19px;
    color: rgb(4, 48, 131);
    margin: 20px 0;
    width: 100%;
    background-color: #e0f7fa;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.description {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 80vw;
    font-size: 20px;
    line-height: 1.5;
    color: #0780c5;
    overflow: auto;
    
}

.description h2 {
    text-align: center;
    font-size: 35px;
    color: #06a2d6; 
}
.about {
    width: 80%;
    max-width: 800vw;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
    font-size: 24px;
    color: #06a2d6; 
}

.about p, .about ul {
    font-size: 20px;
    line-height: 1.5;
    color: #0780c5;
}

.about ul li{
    list-style-type: disc; 
    padding-top: 10px; 
    display: flexbox;
}
.contact-form {
    height: 70vh;
    width: 50vw;
    background-color: white;
    padding: 20px ;
    margin: 20px 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.contact-form h2 {
    color: #0077b6;
    text-align: center;
    margin-bottom: 15px;
}

.contact-form .form-group label {
    color: #023e8a; 
}
#alert{
    display: none;
}
.suggest button {
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    text-align: center;
    padding: auto;
    margin: auto;
    height: 6.5vh;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #06a2d6; 
    border-color: #0077b6;
}
.suggest button:active{
    background-color: rgb(4, 146, 4);;
}
.btn-success {
    background-color: #48cae4;
    border-color: #00b4d8;
}

#generatedPassword {
    font-weight: bold;
    font-size: 1.2em;
}
