body {
    background-color: #caf0f8;
    color: #03045e;
}

h1, h2 {
    color: #0077b6;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #0096c7;
    border-color: #0077b6;
}

.btn-success {
    background-color: #48cae4;
    border-color: #00b4d8;
}

#generatedPassword {
    font-weight: bold;
    font-size: 1.2em;
}

#passwordList {
    max-height: 200px;
    overflow-y: auto;
}
